<div class="modal-shiftfix">
	<div class="container-fluid main-content">
		<div class="row">
			<!-- Conversation -->
			<div class="col-lg-12">
				<div class="widget-container scrollable chat chat-page">
					<div class="contact-list">
						<div class="heading">
							Contacts (<%=@users.size-1%>)<i class="icon-plus pull-right"></i>
						</div>
						<ul>
							<%@users.each do |user|%>
								<%if user.id == 1%>
									<%next%>
								<%end%>
								<li style="cursor:pointer">
								<a id="user_list_<%=user.id%>" onclick="load_user_chat('<%=user.id%>')"><img width="30" height="30" src="/player/<%=user.filename%>.png"><%=user.name%><i id="list_circle_<%=user.id%>" class="icon-circle"></i></a>
								</li>
							<%end%>
						</ul>
					</div>
					<div class="heading">
						<a href="#" onclick="msg_flush()" >flush</a>
					</div>
					<%=render :partial => 'layouts/common_view', :locals => {:mode => 'web'}%>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var my_user_id = '1' 
	var target_user_id = '1'

	<%=render :partial => 'layouts/common_function', :locals => {:mode => 'web'}%>
	$(function(){
		if(target_user_id == '1')
			$("#post_message").hide();
	})
	function msg_flush(){
		c = confirm("Are you sure?")
		if(c){
			$.ajax({
				url: "/flush",
				type: "POST",
				data: {
					target_user_id: target_user_id
				},
				success: function(data) {
					alert("flushed");
					window.location.reload();
				}
			})
		}
	}

</script>
